<!DOCTYPE html>
<html>
<head>
<style>
body { 
  background-image: url("/static/ramos_mural.png"),url("/static/39646.jpg");
  background-repeat: repeat,no-repeat;
  background-position: center,center;
  background-attachment: scroll,fixed;
  background-size: 20vw,auto;
</style>
</head>
<body>

<div>

    {% for image_name in image_names %}
    
    <div>
        <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}" class="center"> 
    </div>
    {% endfor %}
</div>

</body>
</html>